/*  цвет ссылок и фона кнопок  #2196F3 
 вторичный цвет текста  #757575
основной цвет текста  #212121
цвет текста в герое #FFFFFF
цвет фона в чем мы занимаемся rgba(47, 48, 58, 0.8)
фот в футере #2F303A
основной фон #E5E5E5
*/
:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --title-text-white: #FFFFFF;
    --accent-color: #2196F3;


}




body{
    background-color: #FFFFFF;
    color: var(--primary-text-color);
}

.list{
    list-style: none;
}


/* логотип */
.logo {
    color:#000000 ;
}
.logo:hover,
.logo:focus{
    color: var(--accent-color);
}
.logo span{
    color:var(--accent-color);
}


/* ссылки навигации */
.site-nav .link{
    color:var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus{
    color:var(--accent-color);
}
 /* Герой */
 .hero{
       background-color: rgba(47, 48, 58, 0.8);

 }
.hero .hero-title{
    color: var(--title-text-white);
} 
.hero .link{
    color: var(--title-text-white);
    background-color: var(--accent-color);
}


.contact-nav a{
    color: var(--primary-text-color);
}
.contact-nav a:hover,
.contact-nav a:focus{
    color: var(--accent-color);
}


.section-title{
    color: var(--title-text-color);
}

/* преимущества */
.feature .title{
    color: var(--title-text-color);
}

/* чем мы занимаемся */
.work-list .title{
    color: var(--title-text-white);
    background-color: rgba(47, 48, 58, 0.8);
}


/* наша команда */
.team-list .title{
    color: var(--title-text-color);
}
 .socials .link:hover,
 .socials .link:focus{
     color: var(--accent-color);
 }







.footer{
    color: var(--title-text-white);
    background-color: #2F303A;
}

.address .home-page{
    color: var(--title-text-white);
}
.home-page span{
    color: var(--accent-color);
}
.home-page:hover,
.home-page:focus{
    color: var(--accent-color);
}
.address .link{
    color: rgba(255, 255, 255, 0.6);
}
.address .link:hover,
.address .link:focus{
    color: var(--accent-color);
}

.footer .copy{
    color: rgba(255, 255, 255, 0.4);
}